body{
    max-width: 1240px;
    margin: 0 auto;
}

.top-banner{
    background-color: rgb(0, 0, 0);
    height: 350px;
}

.banner{
    display: flex;
}


.banner-image{
    width: 300px;
    height: 350px;
}

.banner-info{
    width: 50%;
    text-align: center;
}

.Title{
    color:#FF5E19;
    font-size: 40px;      
}

p{
    color: rgb(165, 181, 199);
    
}

.banner-image-2{
    width: 450px;
    height: 350px;
}

.palyer-card{
    border: .5px solid rgba(75, 74, 74, 0.616);
    border-radius: 10px;
    width: 250px;
    height: 310px;
    padding: 5px;
}

.card-image{
    width: 100%;
    border-radius: 8px;
}

.card-info{
    text-align: center;
}
.card-title{
    color: white;
}

.select-btn{
    border: none;
    color: white;
    font-size: 15px;
    width: 200px;
    padding: 10px;
    background-color: rgba(34, 34, 230, 0.822);
    border-radius: 5px;
}

.cards{
    background-color: #151515;
    display: grid;
    grid-template-columns: 80% 20%;
    justify-items: center;
    padding-left: 10px;
    padding-right: 80px;
    padding-top: 100px;
}

.all-playes-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}







