
body{
    max-width: 1240px;
    margin: 0 auto;
}

.top-banner{
    background-color: rgb(44, 35, 128);
    height: 350px;
}

.banner{
    display: flex;
}


.banner-image{
    width: 300px;
    height: 350px;
}

.banner-info{
    width: 50%;
    text-align: center;
}

.Title{
    color:#FF5E19;
    font-size: 50px;      
}

p{
    color: rgb(165, 181, 199);
    
}

.banner-image-2{
    width: 450px;
    height: 350px;
}

.player-card{
    background-color: rgb(44, 35, 128);
    border: .5px solid rgba(231, 217, 217, 0.616);
    border-radius: 10px;
    width: 250px;
    height: 310px;
    padding: 5px;
}

.player-card:hover{
    border: 1px solid rgb(23, 211, 6);
}

.card-image{
    width: 100%;
    border-radius: 8px;
}

.card-info{
    text-align: center;
}
.card-title{
    color: white;
}

.select-btn{
    border: none;
    color: white;
    font-size: 15px;
    width: 200px;
    padding: 10px;
    background-color: rgb(17, 11, 46);
    border-radius: 5px;
}

.select-btn:hover{
    border: 1px solid rgb(23, 211, 6);
}

.cards{
    background-color: rgba(22, 21, 107, 0.801);
    display: grid;
    grid-template-columns: 80% 20%;
    justify-items: center;
    padding-left: 10px;
    padding-right: 80px;
    padding-top: 100px;
   
}

.all-playes-card{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding-bottom: 30px;
}



.selected-cards{
    text-align: center;
    border-bottom: 1px solid gray;
    padding-bottom: 2px;
}


.playerTable{
    width: 100%;
    color: white;
    
}

table th{
    border: 1px solid gray;
    padding-right: 10px;
}

.calculate-card{
    color: white;
    text-align: center;
    margin-top: 20px;
    height: 500px;
}

.budget-title{
    border-bottom: 1px solid gray;
    padding-bottom: 2px;
}

.player-price{
    padding: 8px;
    display: flex;
}

.input-player-price{
    width: 140px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}

.calculation-btn{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 230px;
}

.manager{
    margin-left: 20px;
}
.Coach{
    margin-left: 36px;
}


.digit{
    color: greenyellow;
}


.calculation-cards{
height: 850px;
position: sticky;
top: 10px;
}



footer{
background-color: black;
padding: 0;

}

footer p{
text-align: center;
padding-top: 60px;
    height: 100px;
    margin: 0;
    color: white;
}